.web-baground {
  background: url(../assets/web-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inicio{
  background: url(../assets/background-inicio.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.almedin {
  font-size: 100px;
  color: white;
  font-weight: bold;
  margin: 25px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
}

/* Media Queries para hacer responsive */
@media (max-width: 1200px) {
  .almedin {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .almedin {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .almedin {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .almedin {
    font-size: 30px;
  }
}


