*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

ul{
  list-style: none;
}

#root{
  max-width: 100vw;
  min-height: 100vh;

  background-color: #f1f1f1;
  color: #010101;

  display: flex;
  flex-direction: column;
  flex: 1;

  font-family: 'Roboto, sans-serif';
  font-weight: 500;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
}

footer {
  min-height: 300px;
}

.not-found{
  color: #010101;
  display: flex;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(30deg, #020514, 50%, #7f84aa,80%, #152ba8, #010101)
}

@media screen and (max-width: 600px){
  main {
    min-height: 100vh;
  }
}